# dev / tooling
.vscode/**
.vscode-test.*
.vscode-test.mjs
.vscode-test.js
.vscode-test.ts
.vscode-test/**

# sources
src/**
**/*.ts
**/*.map

# node
node_modules/**
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# configs
.eslintrc*
eslint.config.*
tsconfig*.json
esbuild.js

# git
.git/**
.gitignore
.github/**

# docs not needed in extension package
vsc-extension-quickstart.md